* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 55px;
  color: rgb(230, 151, 17);
  font-weight: 600;
  text-shadow: 3px 3px black;
}

header {
  text-align: center;
  background: url(../src/images/ice.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 70px;
  /* margin-bottom: 10px; */
}

.app {
  height: 100vh;
  background-color: antiquewhite;
  overflow: auto;
}

.menuCard {
  width: 550px;
  padding: 10px 25px;
  margin: 10px 5px;
  background-color: aliceblue;
  border-radius: 5px;
  border: solid 3px black;
}

.menuCardTitle {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

.menuCardTitleInput {
  font-size: 1.1rem;
  padding: 4px 6px;
  border-radius: 3px;
  border: none;
}

.result {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

span {
  color: red;
}

.menuAddInput {
  text-align: center;
}

.menuTitleAddInput {
  width: 40%;
  font-size: 20px;
  padding: 20px 5px;
  height: 30px;
}

.sugarAndLipidsInput {
  margin-left: 15px;
  width: 16%;
  font-size: 20px;
  height: 30px;
  padding: 20px 5px;
}

.newMenuButton {
  margin-left: 8px;
  height: 45px;
  width: 15%;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px black;
  transition: all 0.3s;
}

.newMenuButton:hover {
  box-shadow: none;
  transform: translate(1px, 1px);
}

.error {
  color: red;
}

.menuLists {
  margin-top: 10px;
  border-top: 2px solid black;
}

.menuList {
  margin: 15px 0px;
  padding: 15px 0px;
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
  background-color: rgb(240, 232, 214);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
}

.menuText {
  width: 45%;
  text-align: center;
}

.menuLipidAndSugar {
  width: 20%;
  text-align: left;
}

.menuTrashButton {
  border: none;
  margin-right: 10px;
  background-color: rgb(240, 232, 214);
  font-size: 25px;
  cursor: pointer;
}

.menuCardsArea {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.AddMenuCardButtonArea {
  margin-left: 1%;
  margin-top: 25px;
}

.AddMenuCardButton {
  padding: 18px 25px;
  border-radius: 9999px;
  font-size: 30px;
  background-color: white;
  box-shadow: 3px 3px 8px 1px black;
  cursor: pointer;
  transition: all 0.3s;
}

.AddMenuCardButton:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.menuCardTitleAndMenuCardDeleteButtonArea {
  display: flex;
  justify-content: space-between;
}

.menuCardDeleteButton {
  border: none;
  background-color: aliceblue;
  cursor: pointer;
  font-size: 30px;
  color: red;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 600px) {
  header {
    text-align: center;
    background: url(../src/images/ice.jpg);
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px;
    /* margin-bottom: 10px; */
  }

  h1 {
    font-size: 35px;
    color: rgb(230, 151, 17);
    font-weight: 600;
    text-shadow: 3px 3px black;
  }
  /* メニュー名 */
  .menuTitleAddInput {
    width: 40%;
    font-size: 12px;
    padding: 20px 5px;
    height: 30px;
  }
  /* 脂質・糖質入力欄 */
  .sugarAndLipidsInput {
    margin-left: 15px;
    width: 16%;
    font-size: 12px;
    height: 30px;
    padding: 20px 5px;
  }
  /* 作成したメニューリスト */
  .menuList {
    margin: 8px 0px;
    padding: 8px 0px;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    background-color: rgb(240, 232, 214);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
  }
  /* 食品名 */
  .menuText {
    width: 45%;
    text-align: center;
  }
  /* 脂質・糖質 */
  .menuLipidAndSugar {
    width: 20%;
    text-align: left;
  }
  /* 作成したメニューの削除ボタン */
  .menuTrashButton {
    border: none;
    margin-right: 10px;
    background-color: rgb(240, 232, 214);
    font-size: 15px;
    cursor: pointer;
  }
}
